<div class="dialog-container">
  <div class="dialog-header">
    <span class="material-symbols-outlined icon">settings_input_component</span>
    <h2 class="dialog-title">Configuração Eletrônica</h2>
  </div>

  <div class="dialog-content" [formGroup]="form">
    
    <!-- Text Fields -->
    <div class="extra-fields">

      <div class="grid grid-cols-2 gap-4">
        <div class="field-group">
          <label>Knobs de Volume</label>
          <input type="number" formControlName="volumeKnobs" placeholder="Ex: 1">
        </div>
  
        <div class="field-group">
          <label>Knobs de Tone</label>
          <input type="number" formControlName="toneKnobs" placeholder="Ex: 1">
        </div>
      </div>

      <div class="status-card">
        <h4 class="status-header">Status da Eletrônica</h4>
        <div class="toggle-group-premium">
          <div class="label-box">
            <p class="main-label">Circuito Ativo</p>
            <p class="sub-label">Define se o instrumento requer alimentação</p>
          </div>
          <label class="switch">
            <input type="checkbox" formControlName="circuitoAtivo">
            <span class="slider"></span>
          </label>
        </div>
      </div>

    </div>
  </div>

  <div class="dialog-actions">
    <button (click)="onCancel()" class="btn-cancel">Cancelar</button>
    <button (click)="onSave()" class="btn-save">Confirmar</button>
  </div>
</div>
