<mat-toolbar class="toolbar-title" color="primary" >
    Controle de Baixos
</mat-toolbar>

<mat-card class="card">
  <mat-card-content>
    <form class="form" [formGroup]="form">
      <div class="grid">
        <!-- name -->
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" placeholder="Ex.: Fender" />
          @if (form.get('name')?.hasError('backendError') && form.get('name')?.touched) {
            <mat-error>{{ form.get('name')?.getError('backendError') }}</mat-error>
          }
        </mat-form-field>

        <!-- baixoModeloBase -->
        <mat-form-field appearance="fill">
          <mat-label>Selecione o Modelo</mat-label>
          <mat-select formControlName="baixoModeloBase" disableRipple>
            <mat-option value="JAZZ_BASS">Jazz Bass</mat-option>
            <mat-option value="PRECISION">Precision</mat-option>
            <mat-option value="STINGRAY">Stingray</mat-option>
            <mat-option value="THUNDERBIRD">Thunderbird</mat-option>
          </mat-select>
          
          @if (form.get('baixoModeloBase')?.hasError('backendError') && form.get('baixoModeloBase')?.touched) {
            <mat-error>{{ form.get('baixoModeloBase')?.getError('backendError') }}</mat-error>
          }
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
        <mat-label>Modelo</mat-label>
          <input matInput formControlName="baixoModeloBase" placeholder="Ex.: Fender" />
          @if (form.get('baixoModeloBase')?.hasError('backendError') && form.get('baixoModeloBase')?.touched) {
            <mat-error>{{ form.get('baixoModeloBase')?.getError('backendError') }}</mat-error>
          }
        </mat-form-field> -->

                <!-- numeroCordas -->
        <mat-form-field appearance="outline">
          <mat-label>Número de Cordas</mat-label>
          <input matInput formControlName="numeroCordas" placeholder="Ex.: 4" />
          @if (form.get('numeroCordas')?.hasError('backendError') && form.get('numeroCordas')?.touched) {
            <mat-error>{{ form.get('numeroCordas')?.getError('backendError') }}</mat-error>
          }
        </mat-form-field>


                <!-- baixoCor -->
        <mat-form-field appearance="fill">
          <mat-label>Selecione a cor</mat-label>
          <mat-select formControlName="baixoCor" disableRipple>
            <mat-option value="PRETO">Preto</mat-option>
            <mat-option value="BRANCO">Branco</mat-option>
            <mat-option value="VERMELHO">Vermelho</mat-option>
            <mat-option value="AZUL">Azul</mat-option>
            <mat-option value="VERDE">Verde</mat-option>
            <mat-option value="SUNBURST">Sunburst</mat-option>
        </mat-select>
          @if (form.get('baixoCor')?.hasError('backendError') && form.get('baixoCor')?.touched) {
            <mat-error>{{ form.get('baixoCor')?.getError('backendError') }}</mat-error>
          }
        </mat-form-field>

                <!-- price -->
        <mat-form-field appearance="outline">
          <mat-label>Preço</mat-label>
          <input matInput formControlName="price" placeholder="Ex.: 100.00" />
          @if (form.get('price')?.hasError('backendError') && form.get('price')?.touched) {
            <mat-error>{{ form.get('price')?.getError('backendError') }}</mat-error>
          }
        </mat-form-field>

                <!-- estoque -->
        <mat-form-field appearance="outline">
          <mat-label>Estoque</mat-label>
          <input matInput formControlName="quantidadeEstoque" placeholder="Ex.: 10" />
          @if (form.get('quantidadeEstoque')?.hasError('backendError') && form.get('quantidadeEstoque')?.touched) {
            <mat-error>{{ form.get('quantidadeEstoque')?.getError('backendError') }}</mat-error>
          }
        </mat-form-field>

                <!-- fornecedor -->
        <mat-form-field appearance="outline">
          <mat-label>Fornecedor</mat-label>
          <input matInput formControlName="fornecedor" placeholder="Ex.: 2" />
          @if (form.get('fornecedor')?.hasError('backendError') && form.get('fornecedor')?.touched) {
            <mat-error>{{ form.get('fornecedor')?.getError('backendError') }}</mat-error>
          }
        </mat-form-field>


      </div>

      <div class="actions">
        <button 
          type="button"
          mat-raised-button
          routerLink="/baixo">
          Cancelar
        </button>

        <button 
          mat-raised-button 
          color="warn" 
          (click)="excluir()"
          [disabled]="!form.value.id">
          Excluir
        </button>

        <button 
          mat-raised-button 
          color="primary" 
          (click)="salvar()"
          [disabled]="form.invalid">
          Salvar
        </button>

      </div>
    </form>
  </mat-card-content>
</mat-card>